// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.random-letter {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  background: #3498DC;
}
